---
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=Europe/Kyiv
    volumes:
      - /srv/sonarr/sonarr/config:/config
      - /srv/media/series/:/tv #optional
      - /srv/media/downloads/:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped
