---
services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ${APP_DATA}/caddy/config:/etc/caddy
      - ${APP_DATA}/caddy/site:/srv # static srv zones
      - caddy_data:/data # certificates storage
      - caddy_config:/config # cache, runtime and other shit

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=${APP_TIMEZONE}
      - AUTO_UPDATE=true #optional
      - RUN_OPTS= #optional
    volumes:
      - ${APP_DATA}/jackett/config:/config
      - ${APP_STORAGE}/downloads/:/downloads
    expose:
      - 9117
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1001:1002
    expose:
      - 8096/tcp
      - 7359/udp
    volumes:
      - ${APP_DATA}/jellyfin/config:/config
      - ${APP_DATA}/jellyfin/cache:/cache
      - type: bind
        source: ${APP_STORAGE}
        target: /media
      #- type: bind
      #  source: ${APP_STORAGE}/
      #  target: /media2
      #  read_only: true
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      #- type: bind
      #  source: ${APP_DATA}/jellyfin/fonts
      #  target: /usr/local/share/fonts/custom
      #  read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    #environment:
    #  - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=${APP_TIMEZONE}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${APP_DATA}/qbittorrent/config:/config
      - ${APP_STORAGE}/downloads/:/downloads
    expose:
      - 8080
      - 6881
      - 6881/udp
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=${APP_TIMEZONE}
    volumes:
      - ${APP_DATA}/radarr/config:/config
      - ${APP_STORAGE}/movies:/movies
      - ${APP_STORAGE}/downloads/:/downloads
    expose:
      - 7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=${APP_TIMEZONE}
    volumes:
      - ${APP_DATA}/sonarr/config:/config
      - ${APP_STORAGE}/series/:/tv
      - ${APP_STORAGE}/downloads/:/downloads
    ports:
      - 127.0.0.1:8989:8989
    restart: unless-stopped

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${APP_TIMEZONE}
      - PORT=5055 #optional
    expose:
      - 5055
    volumes:
      - ${APP_DATA}/seerr/config/:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped

volumes:
  caddy_data: # caddy requires persistent volume
  caddy_config: # caddy requires persistent volume
