---
services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1001
      - PGID=1002
      - TZ=Europe/Kyiv
      - AUTO_UPDATE=true #optional
      - RUN_OPTS= #optional
    volumes:
      - /srv/jackett/config:/config
      - /srv/media/downloads/:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

